@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
font-family: 'Lato', sans-serif;
font-family: 'Edu VIC WA NT Beginner', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Space Mono', monospace;
*/
* {
    font-family: 'Space Mono', monospace;
}
body {
  margin: 0;
    color: #5ebec4;
    min-height: 110vh;
    background-color: #fdf5df;
}

.preloader {
  z-index: 1;
  background-color: #fdf5df;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
animation: show 1.2s linear 1;
}
.texts {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #5ebec4;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 40px;
}

.landing-bg {
  z-index: -999;
 width: 100vw;
 height: 100vh;
 position: absolute;
 background-position: right;
 background-size: cover;
 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3cpath d='M493.53 633.98C661.85 613.49 736.99 248.16 1041.45 234.19 1345.91 220.22 1448.33 100.77 1589.37 99.79' stroke='rgba(94%2c 190%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M454.64 594.12C550.8 594.1 540.34 567.64 838.18 564.96 1136.03 562.28 1401.17 289.29 1605.27 284.96' stroke='rgba(94%2c 190%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M795.22 668C878.11 662.76 844.92 517.43 1085.91 507.18 1326.9 496.93 1508.96 260.52 1667.28 255.18' stroke='rgba(94%2c 190%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M640.75 606.76C774.52 599.91 851.59 376.93 1118.29 363.82 1385 350.71 1462.91 134.88 1595.84 128.62' stroke='rgba(94%2c 190%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M695.19 599.22C815.61 552.57 770.02 186.75 1005.6 186.32 1241.18 185.89 1457.39 449.43 1626.42 455.12' stroke='rgba(94%2c 190%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1021'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
 left: 0;
 top: 0; 
}
.landing-bg-2 {
  z-index: -999;
 width: 100vw;
 height: 100vh;
 position: absolute;
 background-position: left top;
 background-size: 70%;
 background-repeat: no-repeat;
 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3cpath d='M820.46-63.68C707.02-27.7 748.95 298.45 512.84 299.61 276.72 300.77 56.66 138.57-102.41 137.21' stroke='rgba(219%2c 141%2c 191%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1014.6-66.89C921.09-66.89 930.48-57.15 640.75-54.77 351.01-52.39 92.59 220.69-106.96 225.23' stroke='rgba(219%2c 141%2c 191%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M790.29-81.84C641.76-66.04 546.1 256.37 297.92 256.62 49.74 256.87-60.43 48.31-194.45 43.82' stroke='rgba(219%2c 141%2c 191%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M745.66-93.19C625.41-79.97 576.43 168.31 348.79 183.64 121.15 198.97 60.15 353.5-48.08 357.24' stroke='rgba(219%2c 141%2c 191%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1059.4-87.83C885.77-84.67 752.18 131.54 402.83 138.93 53.49 146.32-77.97 386.65-253.73 390.93' stroke='rgba(219%2c 141%2c 191%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
 left: 0;
 top: 0; 
}

.about-bg-1 {
  width: 100%;
  height: 14em;
  background-position: -450px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1019%26quot%3b)' fill='none'%3e%3cpath d='M1226.98-7.77C1072.49 21.35 1008.47 406.13 758.55 411.76 508.63 417.39 524.33 341.76 290.12 341.76 55.9 341.76-59.9 411.57-178.31 411.76' stroke='rgba(249%2c 44%2c 133%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M997.51-101.84C816.16-90.32 682.95 250.01 361.75 250.49 40.55 250.97-109.62 83.9-274.01 82.49' stroke='rgba(249%2c 44%2c 133%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M926.19-33.96C781.34 18.01 837.34 448.28 545.3 449.61 253.25 450.94-16.78 211.65-216.49 208.81' stroke='rgba(249%2c 44%2c 133%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M873.35-38.67C726.1-22.11 635.69 301.79 388.8 302.69 141.9 303.59 31.13 153.23-95.76 151.49' stroke='rgba(249%2c 44%2c 133%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M865.8-65.83C747.24-48.64 791.63 223.93 489.79 231.21 187.95 238.49-71.24 365.08-262.22 365.61' stroke='rgba(249%2c 44%2c 133%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1019'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  position: relative;
}
.about-bg-1 span {
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  color: #2d2a2a;
}

nav {
    width: 100%;
    margin: 0 auto;
    height: 100px;
    overflow: hidden;
    max-width: 1200px;
    z-index: 10 !important;
}
nav a {
    float: left;
    color: #5ebec4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
nav a img {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin-top: 0px;
}
.nav-right {
    margin-top: 4px;
    float: right;
}
.item {
    padding: 32px 16px;
}
  

.nav-content {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999999999999999;
  top: 0;
  left: 0;
  background-color: #fdf5df;
  overflow-x: hidden;
  transition: 0.5s;
}

.nav-items {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.nav-items a {
  font-size: 32px;
  color: #5ebec4;
}
#full-nav {
  display: flex;
}
#mobile-nav {
  display: none;
}
#email-input {
  width: 18em;
  max-width: 90%;
  font-size: 24px;
  height: 45px;
}
.main-text {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 128px;
  }
  #landing #txt1 {
    position: absolute;
    left: 49.8%;
    top: 39.2%;
    width: 100%;
    text-align: center;
    transform: translate(-50.2%, -60.8%);
    color: #f92c85;
  }
  #landing #txt2 {
    position: absolute;
    left: 50%;
    top: 40%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -60%);
  }
  #landing #span1 {
    position: absolute;
    left: 50%;
    top: 55%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -45%);
    font-size: 42px;
    color: #2d2a2a;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
  }
  
  #nav-nick {
    visibility: hidden; position:relative;bottom:22px; color: black; font-size: 24px;
  }

  #nav-nick-sticky {
     position:relative;bottom:22px; color: black; font-size: 24px;
  }
  .placeholder-4 {
    height: 4em;
    width: 100vw;
    background-color: #fff;
  }

  
.text-place {
  margin: 0;
  width: 100vw;
  min-height: 20em;
  background-color: #fff;
  color: #2d2a2a;
}
.text-content {
  text-align: left;
  padding: 30px;
  padding-top: 5px;
  width: 100%;
  max-width: calc(100% - 60px);
  font-weight: 100;
}
.text-content h1 {
  background-color: #5ebec4;
  width: max-content;
  padding: 4px;
  font-family: monospace;
  color: #fff;
  box-shadow: -7px -7px 0px 3px #f92c85;
}
#about {
  margin-top: 67.5vh;
  opacity: 0;
}

.container {
  height: 100vh;
}
.sticky {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.skills span {
  padding: 0 10px;
}
#socials span {
  padding: 0 12px;
}
#socials a {
  color: #000000bb;
}
.portfolio {
  margin: 0 auto;
  max-width: 500px;
}
.portfolio a {
  font-weight: 600;
  font-size: 20px;
  color: #2d2a2a;
  padding: 4px;
  width: 100%;
  text-align: center;
}
.portfolio p {
  padding-left: 6px;
}
.portfolio hr {
  border: none;
  border-top: 1px solid #00000099;
}
.portfolio-item {
  border-bottom: .4px solid #00000099;
}
.portfolio-left {
  top: 20px;
  border-top: 1px solid #00000099;
  position: relative;
  width: 200px;
  line-height: 200%;
  padding: 4px;
  transform-origin: 0 0;
  transform: rotate(90deg);
}
#sticky-navbar {
  visibility: hidden;
  z-index: 10;
  height: 100px;
  background-color: #fdf5df;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.d-block {
  animation: forwards 1s show-slowly;
  visibility: visible !important;
}
@media (max-width: 1102px) {
  #landing #span1 {
    display: none;
  }
  #nav-nick {
    visibility: visible;
  }
}
@media (max-width: 699px) {
  #nav-nick {
    left: 80px;
    bottom: -30px;
  }    
  #nav-nick-sticky {
    left: 80px;
    bottom: -30px;
  }
  
}
@media (max-width: 999px) {
  .about-bg-1 {
    background-position: top left;
  }
  
}


@media (max-width: 1200px) {
  .landing-bg-2 {
    display: none;
  }    
}
@media (max-width: 699px) {
#full-nav {
  display: none;
}
#mobile-nav {
  display: flex;
}
nav a img {
  position: absolute;
  top:26px;
}
.main-text {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 64px;
  }
  #landing #txt1 {
    position: absolute;
    left: 49.8%;
    top: 39.7%;
    width: 100%;
    display: inline-block;
    max-width: min-content;
    text-align: center;
    transform: translate(-50.2%, -60.3%);
    color: #f92c85;
  }
  #landing #txt2 {
    position: absolute;
    left: 50%;
    top: 40%;
    display: inline-block;
    max-width: min-content;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -60%);
  }
}
@keyframes show-slowly {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
      opacity: 1;
      visibility: visible;
  }

  75% {
      
    opacity: 1;
  }
  100% {
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    display: none;
  }
}